* {
  font-family: 'SF Pro Text', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

main {
    background-color: #fff;
}

.vid_cont {
    overflow: hidden;
    border-radius: 50px;
    justify-content: center;
    position: relative;
}

.text_vid {
    position: absolute;
    z-index: 3;
    font-size: 2rem;
    padding-top: 600px;
    margin-left: 200px;
}

.vid {
    object-fit: cover; 
    width: 100%;
    z-index: 1;
}

.text_title {
    margin-top: 10rem;
    margin-left: 5rem;
    position: relative;
    z-index: 3;
    font-size: 2rem;
    background-color: #fff;
}

.titulo_c {
    text-align: justify;
    padding: 5% 0 5% 5%;
    background-color: #fff;
}

.titulo_c h1 {
    font-size: 3.3rem;
    font-weight: bold;
}

.cont_t_card {
    display: flex;
    justify-content: center;
    gap: 1.4rem;
    flex-wrap: wrap;
    padding: 2rem;
    background-color: #fff;
}

.t_card {
    background-color: #fff;
    border-radius: 30px;
    justify-content: center;
    padding: 30px;
    width: 380px;
    height: 280px;
    transition: all ease 0.3s;
    box-shadow: 0 2px 16px hsl(0, 0%, 80%, 0.6);
}

.t_card:hover {
  transform: translateY(-7.5px);
  cursor: pointer;
}


.sec_img_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 0;
    gap: 40px;
}

.im_lateral {
    width: 480px;
    height: auto;
    object-fit: cover;
}

.text_lateral {
    max-width: 400px;
    font-family: inherit;
}

.text_lateral h1 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.text_lateral p {
    font-size: 18px;
    color: #555;
}

.t_card h2 {
    font-size: 2rem;
}

.t_card p {
    padding-top: 15px;
}


/* -----------------------------
   SF Pro Text
------------------------------ */
@font-face {
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Display
------------------------------ */
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Icons
------------------------------ */
@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_bold.woff2') format('woff2');
}
.prev {
  left: 20px;
}

.next {
  right: 20px;
}