/* {
    border: 2px solid red;
}*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SF Pro Text', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.depois-cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 19rem;
}

.nome-app {
    text-align: left;
    font-size: 1.25rem;
    color: #1a1a1a;
    padding: 0;
}


.testar-button {
    background-color: #fa243c;
    color: rgb(255, 255, 255);
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 1.5rem;
    border: none;
}

.testar-button:hover {
    color: rgb(210, 210, 215);
    cursor: pointer;
}


.desconto {
    animation: animate-color 1s ease-in-out 1.8s forwards;
    font-size: 1rem;
    text-align: center;
    background-color: #fa243c;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    letter-spacing: -0.02rem;
    z-index: 1;
    position: relative;
}

@keyframes color2 {
    0% {
        color: #ffffff;
    }

    100% {
        color: #1a1a1a;
    }
}

@keyframes animate-color {
    0% {
        background-color: #fa243c;
    }

    100% {
        background-color: #f5f5f7;
    }
}

.desconto h4 {
    font-weight: normal;
    animation: color2 1s ease-in-out 1.8s forwards;
    color: #ffffff;
}

.desconto a {
    color: #ffffff;
    animation: color 1s ease-in-out 1.8s forwards;
    text-decoration: none;
    font-weight: normal;
    display: flex;
}

@keyframes color {
    0% {
        color: #ffffff;
    }

    100% {
        color: #0071e3;
    }
}


.desconto a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0;
}

.container-hero {
    width: 100%;
    background-image: url(Imagens_Music/fundo_hero.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    align-items: center;
    text-align: center;
    color: #f4f4f0;
}

.slogan {
    align-items: center;
    justify-content: center;
}

.logo-hero {
    max-width: fit-content;
    height: auto;
    align-self: center;
    margin: 6rem auto;
    margin-bottom: 1rem;
    align-items: center;
    justify-content: center;
    line-height: 0;
}

.h1s-amor {
    margin-bottom: 1.75rem;
}

.slogan h1 {
    text-align: center;
    font-size: 8rem;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
}

.p_cinza {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    color: rgb(210, 210, 215);
    letter-spacing: normal;
}

.button-slogan-hero {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 2rem;
    border: none;
    padding: 1rem 1.25rem;
    margin-top: 2rem;
}

.button-slogan-hero:hover {
    background-color: rgb(210, 210, 215);
    cursor: pointer;
}

.opcoes-hero {
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 5rem 0;
}

.opcoes-hero>div {
    flex: 1;
    width: 25rem;
    height: fit-content;
    text-align: center;
}

.assinatura {
    display: block;
    align-items: center;
}

.titulo_e_linha h2 {
    font-size: 2rem;
    font-weight: 625;
}

.linha-divisoria {
    width: 100%;
    height: 0.05rem;
    margin: 0;
    background-color: rgb(210, 210, 215);
    opacity: 0.25;
    display: flex;
    margin: 1rem 0;
}

.button-opcoes {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1.75rem;
    border: none;
    padding: 0.75rem 1.25rem;
    margin-top: 3rem;
}

.button-opcoes:hover {
    background-color: rgb(210, 210, 215);
    cursor: pointer;
}

.button-opcoes-link {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1.75rem;
    border: none;
    padding: 0.75rem 1.25rem;
    margin: 1.75rem 0 2.5rem 0;
}

.button-opcoes-link:hover {
    background-color: rgb(210, 210, 215);
    cursor: pointer;
}

.link_simbolo a {
    font-size: 1.25rem;
    font-weight: 625;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link_simbolo a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.faixa-hero {
    background-color: rgba(29, 29, 31, .5);
    padding: 2.5rem 0;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
}

.p_cinza2 {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 550;
    color: rgb(210, 210, 215);
    letter-spacing: normal;
}

.link_simbolo2 a {
    font-size: 1.25rem;
    font-weight: 625;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.link_simbolo2 a:hover {
    cursor: pointer;
    text-decoration: underline;
    gap: 1rem;
    flex-wrap: wrap;
}

.music-logo {
    width: 10rem;
    height: auto;
    display: block;
}

.container-main-cards {
    width: 100%;
    height: fit-content;
    align-items: center;
}

.main-cards {
    height: fit-content;
    margin: 2rem 8.5rem;
    align-items: center;
    align-self: center;
    gap: 2rem;
}

.card {
    width: 100%;
    height: 100vh;
    background-color: #1a1a1a;
    border-radius: 1.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#card-audio {
    background-image: url(Imagens_Music/card-audio.png);
}

#hover-audio {
    background-image: url(Imagens_Music/AxlRose.png);
}

#card-descoberta {
    background-image: url(Imagens_Music/card-descoberta.png);
}

#hover-descoberta {
    background-image: url(Imagens_Music/BryanAdams.png);
}

#card-bastidor {
    background-image: url(Imagens_Music/card-bastidor.png);
    padding-top: 30%;
}

#hover-bastidor {
    background-image: url(Imagens_Music/bon_jovi\ \(2\).png);
}

#card-sing {
    background-image: url(Imagens_Music/card-sing.jpg);
    padding-bottom: 35%;
    padding-left: 55%;
}

#hover-sing {
    background-image: url(Imagens_Music/BruceSprigsteen.png);
}

#card-playlist {
    background-image: url(Imagens_Music/card-playlist.png);
    background-position: left center;
    padding-right: 55%;
}

#hover-playlist {
    background-image: url(Imagens_Music/hover-card-playlist.jpg);
}

#card-classic {
    background-image: url(Imagens_Music/card-classic.png);
}

#hover-classic {
    background-image: url(Imagens_Music/hover-card-classical.png);
}

.p_cinza-cards {
    text-align: center;
    font-size: 2.25rem;
    font-weight: 550;
    color: #6e6e73;
    letter-spacing: normal;
}

.container-titulo-main {
    width: fit-content;
    height: auto;
    margin-top: 0.75rem;
}

.titulo-main-branco {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
    color: #f4f4f0;
    letter-spacing: -0.05em;
}

.titulo-main-degrade {
    text-align: center;
    font-size: 5rem;
    line-height: 1;
    font-weight: 600;
    margin-top: 0;
    background: linear-gradient(90deg, rgb(110, 110, 115), rgb(255, 121, 27), rgb(255, 48, 55));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: -0.05em;
}

.card:hover .conteudo-principal {
    opacity: 0;
}

.card .conteudo-hover {
    opacity: 0;
    transition: opacity 0.5s ease;
    transition-delay: 0s;
}

.card:hover .conteudo-hover {
    opacity: 1;
    transition-delay: 0.5s;
}

.conteudo-hover {
    position: absolute;
    inset: 0;
    display: flex;
    opacity: 0;
    transition: opacity .5s ease;
    border-radius: 1.75rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 3rem;
}

.texto-hover {
    max-width: 67%;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.79);
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom: 3rem;
}

.texto-hover strong {
    color: #fa243c;
}

.conteudo-hover h2,
.conteudo-hover p {
    z-index: 2;
}

.card:hover .conteudo-hover {
    opacity: 1;
}

.p_cinza-hover {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(210, 210, 215);
    letter-spacing: normal;
}

.imagem-hover {
    max-width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
    margin-top: 4rem;
}

.conteudo-hover img {
    height: 40rem;
    width: auto;
    object-fit: contain;
    margin-top: 2.75rem;
}

.link_card {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 550;
    color: rgb(255, 255, 255);
    letter-spacing: normal;
    text-decoration: none;
}

.link_card:hover {
    cursor: pointer;
    text-decoration: underline;
}


/*
.imagem-hover {

}

/*
.texto-hover {
    

}*/

/*
.carousel {
    overflow: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
}

.scroll {
    display: flex;
    width: max-content;
    animation: scroll-left 120s linear infinite;
    gap: 20px;
}

.scroll iframe {
    flex-shrink: 0;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-5440px);
    }
}*/







/* -----------------------------
   SF Pro Text
------------------------------ */
@font-face {
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Display
------------------------------ */
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Icons
------------------------------ */
@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_bold.woff2') format('woff2');
}