 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
 }
 


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  gap: 1.875rem;
  padding: 2.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
}

.card {
  background: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.card:hover {
  transform: translateY(-0.3125rem);
  box-shadow: 0 0.375rem 1.25rem rgba(0, 0, 0, 0.5);
}

.card img,
.card iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 0.625rem;
}

.card img {
  width: 100%;
  margin-bottom: 0;
}

.card h2.data {
  text-align: center;
  font-size: 1.2rem;
  font-weight: normal;
  font-style: italic;
  margin-top: 4%;
  margin-bottom: 0;
}

.card h2.titulo {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.card h2 {
  font-size: 1.4rem;
  color: #000;
  margin: 0;
}

.card p {
  font-size: 0.95rem;
  color: #333;
  line-height: 1.6;
  margin: 0;
  white-space: normal;
  margin-top: 0;
  text-align: justify;
}

.hero {
  margin-top: 2.8rem;
  text-align: center;
  padding: 2.5rem 1.25rem;
  padding-bottom: 0;
  margin-bottom: 2rem;
}

.hero h1 {
  font-size: 2.5rem;
  padding-bottom: 1.5rem;
}

.hero p {
  font-size: 1.2rem;
  color: #555;
}

.topics {
  padding-left: 3rem;
}

.topics li {
  padding-bottom: 0.5rem;
}

.titulo {
  text-align: center;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.link {
  text-align: justify;
  list-style: none;
  position: relative;
  padding-left: 1.5rem;
}

.link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  background-image: url("imagens/simbolo_da_apple.png");
  background-size: contain;
  background-repeat: no-repeat;
}



 /* -----------------------------
   SF Pro Text
------------------------------ */
@font-face {
    font-family: 'SF Pro Text';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Text';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Text/sf-pro-text_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Display
------------------------------ */
@font-face {
    font-family: 'SF Pro Display';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Display';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Display/sf-pro-display_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Icons
------------------------------ */
@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 300;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_light.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 400;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_regular.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 500;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_medium.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 600;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_semibold.woff2') format('woff2');
}

@font-face {
    font-family: 'SF Pro Icons';
    font-weight: 700;
    font-style: normal;
    src: url('fontes/SF-Pro-Icons/sf-pro-icons_bold.woff2') format('woff2');
}