/* {
  border: 1px solid red;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SF Pro Text', BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.desconto {
  color: #000000;
  font-size: 1rem;
  text-align: center;
  background-color: #f5f5f7;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  margin-right: -1.25rem;
  margin-left: -1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  letter-spacing: -0.02rem;
}

.desconto h4 {
  font-weight: normal;
}

.desconto a {
  color: #0071e3;
  text-decoration: none;
  font-weight: normal;
  display: flex;
}

.desconto a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0;
}

.titulo-e-slogan {
  display: flex;
  margin: 5rem;
  margin-top: 5.5rem;
  justify-content: space-between;
  align-items: flex-end;

}

.titulo-e-slogan h1 {
  font-size: 4.5rem;
  line-height: 1.1;
}

.slogan {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.2;
}

.titulo-e-slogan2 {
  font-size: 3.5rem;
  margin: 9rem 5rem 4rem 5rem;
  line-height: 1.1;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titulo-e-texto {
  margin-top: 5rem;
  text-align: justify;
}

.caixa-video {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0 auto;
}

.caixa-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.01);
}


.video-toggle {
  position: absolute;
  bottom: 2rem;
  right: 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.video-toggle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-toggle:hover {
  background: #b9b9b98a;
}



.cards {
  display: flex;
  flex-wrap: nowrap;
  gap: 1.4rem;
  padding-top: 1rem;
}

.card_mac {
  background-color: #f4f0f0;
  border-radius: 1.8rem;
  width: 25rem;
  height: 700px;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: auto;
  transition: transform 0.3s ease;
  box-shadow: none;
}

.card_mac:hover {
  cursor: pointer;
  transition: transform 0.3s ease;
  transform: translate(-0.1rem, -0.15rem);
}

#card-macOS {
  background-image: url("Imagens_Mac/apple\ intelligence2.jpg");
}

#card-desempenho {
  background-image: url("Imagens_Mac/desempenho.jpeg");
  background-position: 95% center;
}

#card-time {
  background-image: url("Imagens_Mac/time.png");
}

#card-apps {
  background-image: url("Imagens_Mac/apps\ mac.png");
}

#card-seguranca {
  background-image: url("Imagens_Mac/seguranca.png");
}

#card-durabilidade {
  background-image: url("Imagens_Mac/durabilidade.png");
}

#card-valores {
  background-image: url("Imagens_Mac/valores.png");
}

.escuro {
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5cm;
  padding-left: 0.9cm;
  color: #1a1a1a;
  font-weight: 600;
}

.frase-escuro {
  text-align: left;
  font-size: 1.7rem;
  padding-left: 0.9cm;
  padding-right: 0.7cm;
  color: #1a1a1a;

}

.descricao {
  text-align: left;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.5cm;
  padding-left: 0.9cm;
  color: #f5f5f5;
  font-weight: 600;
}

.frase-impacto {
  text-align: left;
  font-size: 1.7rem;
  padding-left: 0.9cm;
  padding-right: 0.7cm;
  color: #f5f5f5;

}

.cards img {
  max-width: 80%;
  max-height: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-top: auto;
}

.card h3 {
  margin: 1rem 0 0.5rem;
}

.card p {
  padding: 0 1rem 1rem;
  color: #444;
}

.mac-carousel {
  position: relative;
  width: 100%;
  overflow: visible;
  display: flex;
  align-items: center;
  margin: 1.25rem 0;
}

.mac-carousel .iphone-scroll {
  display: flex;
  overflow-x: auto;
  overflow-y: visible;
  scroll-behavior: smooth;
  gap: 2rem;
  padding: 0 5rem;
  scroll-padding: 5rem;
  scroll-snap-type: x mandatory;
  -ms-touch-action: pan-x;
  touch-action: pan-x;
  overscroll-behavior-x: contain;
}

.mac-carousel .iphone-scroll::-webkit-scrollbar {
  display: none;
}

.mac-carousel .arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 20px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.mac-carousel .arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f4f4f0;
}

.mac-carousel .arrow.left {
  left: 15px;
}

.mac-carousel .arrow.right {
  right: 15px;
}

.mac-carousel .arrow:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.mac-produtos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  margin-top: 0.5rem;
  padding-bottom: 2rem;
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  z-index: 9999;
  position: relative;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.card-icon {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  width: 2rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1d1d1f;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  font-weight: 800;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
  padding-bottom: 0.25rem;
}

.card-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f4f4f0;
  box-shadow: none;
}

/*
  right: 2.5rem;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding: 0;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
*/

.cardinfo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: auto;
  padding: 20px;
  box-sizing: border-box;
}

.cardinfo-content {
  position: relative;
  background-color: #ffffff;
  border-radius: 2rem;
  padding: 3.75rem 3.125rem;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
  animation: cardFadeIn 0.4s ease-out;
  margin: 2rem 5rem 0 5rem;
}

@keyframes cardFadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.cardinfo-body {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 4rem 0;
  background-color: #f5f5f7;
  border-radius: 2rem;
  padding: 4rem 6rem;
}

.cardinfo-text {
  flex: 1 1 300px;
  font-size: 1.4rem;
  line-height: 1.6;
}

.cardinfo-content h1 {
  font-size: 3rem;
  font-weight: 700;
}

.cardinfo-content h4 {
  font-size: 1rem;
  font-weight: 500;
}

/*.cardinfo-image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardinfo-image img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
*/


@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(200px);
    transform: translateX(200px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.loja-navegacao {
  margin: 1.5rem 0 0.25rem 0;
}

.produto-item {
  text-align: center;
  transition: transform 0.3s ease;
}

.produto-item a {
  text-decoration: none;
  color: #1d1d1fd3;
}

.produto-item a:hover {
  color: rgb(0, 0, 0);
}

.produto-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 0.25rem;
  max-width: fit-content;
}

.produto-item p {
  font-size: 0.75rem;
  margin: 0;
  font-weight: 500;
}

.produto-item span {
  display: block;
  font-size: 0.75rem;
  margin: 0;
  margin-top: 0.15rem;
  font-weight: 500;
  color: #b64400;
}


.produto-item {
  text-align: center;
  transition: transform 0.3s ease;
}

.produto-item a {
  text-decoration: none;
  color: #1d1d1fd3;
}

.produto-item a:hover {
  color: rgb(0, 0, 0);
}

.produto-item img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-bottom: 0.25rem;
  max-width: fit-content;
}

.produto-texto {
  line-height: 1.2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produto-texto p {
  font-size: 0.75rem;
  margin: 0;
  font-weight: 500;
  line-height: 1.2;
}

.produto-texto span {
  font-size: 0.75rem;
  color: #b64400;
  font-weight: 500;
  margin-top: 0.1rem;
  line-height: 1.2;
}



.btn-comprar {
  background-color: #0066cc;
  color: white !important;
  padding: 8px 12px;
  border-radius: 18px;
  display: inline-block;
}

.btn-comprar:hover {
  background-color: #0077ed;
}

@media (max-width: 768px) {
  .loja-links {
    gap: 15px;
  }

  .produto-item img {
    width: 50px;
    height: 50px;
  }

  .produto-item p {
    font-size: 11px;
  }
}

.conheca-familia {
  background-color: #f5f5f7;
}

.titulo-e-slogan3 {
  font-size: 3.5rem;
  margin: 15rem 5rem 4rem 5rem;
  line-height: 1.1;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.titulo-e-slogan3 h2 {
  padding-top: 9rem;
}

.link-comparar {
  font-size: 1.1rem;
  padding-right: 2.5rem;
  margin-bottom: 1rem;
  color: #0071e3;
  text-decoration: none;
  letter-spacing: -0.02rem;
}

.link-comparar:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

.mac-row {
  display: flex;
  margin: 0 0 5rem 7.5rem;
  gap: 4.5rem;
  margin-bottom: 40px;
  flex-wrap: wrap;
}


.cards-products {
  display: flex;
  margin: 8rem 7.5rem 0 7.5rem;
  gap: 2.5rem;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  max-width: 24rem;
  transition: transform 0.3s ease;
}

.card img:hover {
  cursor: pointer;
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.card h3 {
  font-size: 1.6rem;
  font-weight: 750;
  margin-bottom: 0.25rem;
}

.card h4 {
  font-size: 1rem;
  font-weight: 625;
}

.card p {
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 450;
  color: #1d1d1f;
}

.card .preco {
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.25rem;
}

.card .interact {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
  gap: 1.75rem;
}

.card button {
  font-size: 1rem;
  font-weight: 600;
  color: #f4f4f0;
  padding: 0.7rem 1.5rem;
  border-radius: 1.5rem;
  background-color: #0071e3;
  border: 0;
}

.card button:hover {
  color: #f4f4f0;
  background-color: #1d1d1f;
  cursor: pointer;
}

.card a {
  font-size: 1.1rem;
  color: #1b6dbe;
  text-decoration: none;
  letter-spacing: -0.02rem;
}

.card a:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.1rem;
}

.linha-divisoria {
  width: 60%;
  height: 0.01rem;
  margin: 3rem 4rem 0 5rem;
  background-color: #1d1d1fd3;
  opacity: 0.25;
  display: flex;
}

.cards-specific {
  display: flex;
  margin: 3rem 7.5rem;
  flex-wrap: wrap;
  align-items: flex-end;
  text-align: center;
  gap: 2.5rem;
}

.MacBook_Air_specific {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.card-linha {
  width: 24rem;
}

.card-linha h3 {
  font-size: 2rem;
  font-weight: 750;
}

.card-linha p {
  font-size: 0.9rem;
  margin: 0.8rem 0;
  font-weight: 450;
  color: #1d1d1f;
}

.card-linha img {
  height: 4rem;
  width: auto;
  margin: -0.5rem;

}

.MacBook_Pro_specific {
  gap: 2rem;
  display: flex;
  flex-direction: column;
}

.card-linha-7portas {
  gap: 0.5rem;
}

.linha-especificacoes {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  align-items: flex-start;
}

#mude_mac {
  margin-top: 12rem;
}

#mude_mac h2 {
  padding-top: 0;
  margin-bottom: 0.7rem;
}

.card-resolve {
  display: flex;
  padding-top: 0;
  background-color: white;
  margin: 0 5rem;
  height: 36rem;
  border-radius: 2rem;
  transition: transform 0.3s ease;
}

.conteudo {
  margin: 14rem 6rem;
  text-align: justify;
}

.conteudo h3 {
  font-size: 2rem;
  font-weight: 650;
}

.conteudo p {
  font-size: 1.1rem;
  margin: 0.5rem 0 0.5rem 0;
  font-weight: 450;
}

.card-resolve img {
  width: auto;
  height: auto;
  margin-bottom: 2rem;
  margin-right: 2rem;
  margin-left: auto;
}

.card-resolve:hover {
  cursor: pointer;
  transform: scale(1.01);
  transition: transform 0.3s ease;
}



/*  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
  border: 1px solid transparent;
  vertical-align: middle;
  background-color: #0071e3;
  color: #f4f4f0;
}*/



/*
color: #0076ed;*/







/* -----------------------------
   SF Pro Text
------------------------------ */
@font-face {
  font-family: 'SF Pro Text';
  font-weight: 300;
  font-style: normal;
  src: url('fontes/SF-Pro-Text/sf-pro-text_light.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 400;
  font-style: normal;
  src: url('fontes/SF-Pro-Text/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 500;
  font-style: normal;
  src: url('fontes/SF-Pro-Text/sf-pro-text_medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 600;
  font-style: normal;
  src: url('fontes/SF-Pro-Text/sf-pro-text_semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Text';
  font-weight: 700;
  font-style: normal;
  src: url('fontes/SF-Pro-Text/sf-pro-text_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Display
------------------------------ */
@font-face {
  font-family: 'SF Pro Display';
  font-weight: 600;
  font-style: normal;
  src: url('fontes/SF-Pro-Display/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Display';
  font-weight: 700;
  font-style: normal;
  src: url('fontes/SF-Pro-Display/sf-pro-display_bold.woff2') format('woff2');
}


/* -----------------------------
   SF Pro Icons
------------------------------ */
@font-face {
  font-family: 'SF Pro Icons';
  font-weight: 300;
  font-style: normal;
  src: url('fontes/SF-Pro-Icons/sf-pro-icons_light.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Icons';
  font-weight: 400;
  font-style: normal;
  src: url('fontes/SF-Pro-Icons/sf-pro-icons_regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Icons';
  font-weight: 500;
  font-style: normal;
  src: url('fontes/SF-Pro-Icons/sf-pro-icons_medium.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Icons';
  font-weight: 600;
  font-style: normal;
  src: url('fontes/SF-Pro-Icons/sf-pro-icons_semibold.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Pro Icons';
  font-weight: 700;
  font-style: normal;
  src: url('fontes/SF-Pro-Icons/sf-pro-icons_bold.woff2') format('woff2');
}